
@{
    ViewBag.Title = "Cart3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cart3</h2>
<table id="MyCartItem" class="table-bordered">
    <thead>
        <tr>
            <td>ProductName</td>
            <td>Price</td>
            <td>Image</td>
            <td>CustomerId</td>            
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div class="alert-danger" id="allprice">
    <strong>@ViewBag.Total</strong>
</div>
