
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cart</h2>

<div>
    <fieldset style="border:2px solid grey;width:300px">
        <strong>CartId</strong>
        <strong>CustometId</strong>
        <strong>ProductId</strong>
    </fieldset>
</div>